
# Godot-specific ignores
src/godot/.import/
src/godot/export.cfg
src/godot/export_presets.cfg

# Mono-specific ignores
src/godot/.mono/
src/godot/data_*/

# Builds directory for exported games
src/builds/*
